**Цель работы:**

Осуществить предварительную обработку данных csv-файла, выявить и устранить проблемы в этих данных.

# Загрузка набора данных

### Описание предметной области

Вариант №6

Набор данных: "salary.csv"

Атрибуты:
Содержит данные пользовательских сессии магазина:
1)	уникальный идентификатор пользователя
2)	страна пользователя 
3)	устройство пользователя 
4)	идентификатор рекламного источника, из которого пришел пользователь
5)	дата и время начала сессии 
6)	дата и время окончания сессии

### 1.Чтение файла (набора данных)

In [9]:
import pandas as pd

df = pd.read_csv('visits.csv', sep=';')
df.head()

,User_Id,Region,Device,Channel,Session_Start,SESSION_End
0,"9,81449E+11",United States,iPhone,organic,01.05.2019 2:36,01.05.2019 2:45
1,"2,78966E+11",United States,iPhone,organic,01.05.2019 4:46,01.05.2019 4:47
2,"5,90706E+11",United States,Mac,organic,01.05.2019 14:09,01.05.2019 15:32
3,"3,26434E+11",United States,Android,TipTop,01.05.2019 0:29,01.05.2019 0:54
4,"3,49774E+11",United States,Mac,organic,01.05.2019 3:33,01.05.2019 3:57

### 2. Обзор данных

2.1 Вывод первых 20 строк с помощью метода head.

In [10]:
df.head(20)

,User_Id,Region,Device,Channel,Session_Start,SESSION_End
0,"9,81449E+11",United States,iPhone,organic,01.05.2019 2:36,01.05.2019 2:45
1,"2,78966E+11",United States,iPhone,organic,01.05.2019 4:46,01.05.2019 4:47
2,"5,90706E+11",United States,Mac,organic,01.05.2019 14:09,01.05.2019 15:32
3,"3,26434E+11",United States,Android,TipTop,01.05.2019 0:29,01.05.2019 0:54
4,"3,49774E+11",United States,Mac,organic,01.05.2019 3:33,01.05.2019 3:57
5,43958116050,United States,Android,organic,01.05.2019 9:03,01.05.2019 10:08
6,"1,85365E+11",United States,iPhone,organic,01.05.2019 9:37,01.05.2019 10:00
7,"1,00971E+11",United States,Mac,TipTop,01.05.2019 4:39,01.05.2019 4:57
8,"3,70456E+11",United States,iPhone,organic,01.05.2019 14:44,01.05.2019 15:41
9,"1,41838E+11",United States,Mac,FaceBoom,01.05.2019 6:20,01.05.2019 6:54
10,"9,24309E+11",United States,iPhone,organic,01.05.2019 20:03,01.05.2019 20:19
11,"7,74938E+11",United States,iPhone,MediaTornado,01.05.2019 14:01,01.05.2019 14:29
12,"2,44879E+11",United States,iPhone,MediaTornado,01.05.2019 1:59,01.05.2019 2:21
13,"1,57877E+11",United States,Mac,organic,01.05.2019 10:25,01.05.2019 10:35
14,"5,24629E+11",United States,Mac,organic,01.05.2019 17:06,01.05.2019 18:05
15,"1,36227E+11",United States,PC,organic,01.05.2019 19:34,01.05.2019 19:39
16,"6,84979E+11",United States,iPhone,TipTop,01.05.2019 1:51,01.05.2019 2:12
17,"9,05776E+11",United States,iPhone,organic,01.05.2019 14:26,01.05.2019 14:35
18,15174034813,United States,iPhone,FaceBoom,01.05.2019 15:34,01.05.2019 15:56
19,"1,88246E+11",United States,Android,FaceBoom,01.05.2019 23:09,01.05.2019 23:21

2.2 Оценка данных с помощью метода info.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957 entries, 0 to 956
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        957 non-null    object
 1   Region         956 non-null    object
 2   Device         955 non-null    object
 3   Channel        957 non-null    object
 4   Session_Start  955 non-null    object
 5   SESSION_End    955 non-null    object
dtypes: object(6)
memory usage: 45.0+ KB

2.3 Оценка данных с помощью метода describe.

In [12]:
df.describe()

,User_Id,Region,Device,Channel,Session_Start,SESSION_End
count,957,956,955,957,955,955
unique,865,2,6,4,820,836
top,"1,79085E+11",United States,iPhone,organic,02.05.2019 20:16,02.05.2019 22:48
freq,4,955,421,612,4,3


---

**Вывод: На изображении демонстрируется количество ненулевых значений в каждом столбце (первая строка). Второй строкой выводится количество уникальных значений. Третьей строкой пишется самое популярное значение в столбце. И наконец в четвёртой строке указывается сколько раз встречалось самое популярное значение.**


 ---

 2.4 Оценка названий столбцов

In [13]:
df.columns

Index(['User_Id', 'Region', 'Device', 'Channel', 'Session_Start',
       'SESSION_End'],
      dtype='object')

In [21]:
df.rename(columns={'SESSION_End': 'Session_End'}, inplace=True)

In [ ]:
Чтобы оценить названия столбцов, а также принять или отклонить решение о переименовании некоторых столбцов, следует использовать метод «columns»

### 3. Проверка пропусков

In [18]:
df = df.dropna(subset='Device')
df.loc[:, 'Session_Start'] = df['Session_Start'].fillna(0)
df.loc[:, 'SESSION_End'] = df['SESSION_End'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 955 entries, 0 to 956
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User_Id        955 non-null    object
 1   Region         955 non-null    object
 2   Device         955 non-null    object
 3   Channel        955 non-null    object
 4   Session_Start  955 non-null    object
 5   SESSION_End    955 non-null    object
dtypes: object(6)
memory usage: 52.2+ KB

In [ ]:
Выполнение метода «info» в предыдущих задачах показало, что есть столбцы с нулевым значением и их нужно устранить. Изначально удалим все нулевые строки по столбцу «Device», а в столбцах временного интервала заполним пропуски нулями с помощью команды «fillna».


---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с пропусками, а также знать другие способы работы с пропусками, чтобы
 ответить на вопросы на защите.**


 ---

### 4. Проверка дубликатов

#### Проверка явных дубликатов

In [23]:
display(df[df.duplicated()])
print(f"duplicates quantity: {df.duplicated().sum()}")

,User_Id,Region,Device,Channel,Session_Start,Session_End
480,"1,79085E+11",United States,Mac,organic,01.05.2019 7:27,01.05.2019 7:49
481,"1,79085E+11",United States,Mac,organic,01.05.2019 7:27,01.05.2019 7:49

duplicates quantity: 2

In [ ]:
Так как выявлено 2 дубликата, их следует удалить, но при этом также необходимо обновить индексацию, поэтому применим метод «reset_index»

In [24]:
df = df.drop_duplicates().reset_index()
print(f"duplicates quantity: {df.duplicated().sum()}") 
df.info()

duplicates quantity: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          953 non-null    int64
 1   User_Id        953 non-null    object
 2   Region         953 non-null    object
 3   Device         953 non-null    object
 4   Channel        953 non-null    object
 5   Session_Start  953 non-null    object
 6   Session_End    953 non-null    object
dtypes: int64(1), object(6)
memory usage: 52.2+ KB

#### Проверка неявных дубликатов

In [ ]:
Выводим все уникальные значения столбцов для выявления похожих значений и соответствующего их удаления. С учетом информативного содержания, интересующими столбцами являются 'Region', 'Device', 'Channel'.

In [25]:
def display_implicit_duplicates():  # Выполнено в виде функции, чтобы применять несколько раз
    for col in df.columns:
        if col == 'Region' or col == 'Device' or col == 'Channel':  # Выводим только информативные столбцы
            print(col, df[col].unique())

display_implicit_duplicates()

Region ['United States' 'USA']
Device ['iPhone' 'Mac' 'Android' 'PC' 'MAC' 'IPHONE']
Channel ['organic' 'TipTop' 'FaceBoom' 'MediaTornado']

In [ ]:
Теперь, произведём замену неявных дубликатов на соответствующие варианты. Также отобразим уникальные значения, чтобы проверить, что замена прошла корректно.

In [26]:
df['Region'] = df['Region'].replace('USA', 'United States')
df['Device'] = df['Device'].replace(
    'MAC', 'Mac'
).replace(
    'DataScientist', 'Data Scientist'
).replace(
    'IPHONE', 'iPhone'
)

display_implicit_duplicates()

Region ['United States']
Device ['iPhone' 'Mac' 'Android' 'PC']
Channel ['organic' 'TipTop' 'FaceBoom' 'MediaTornado']

---

**Вы должны аргументировать на защите, почему были выполнены те или иные действия с дубликатами, знать, что такое явные и неявные дубликаты и способы работы с ними, чтобы ответить на вопросы на защите.**


 ---

### 5. Провека типов данных

In [31]:
display(df)
print('/n')
df.info()

,index,User_Id,Region,Device,Channel,Session_Start,Session_End
0,0,"9,81449E+11",United States,iPhone,organic,01.05.2019 2:36,01.05.2019 2:45
1,1,"2,78966E+11",United States,iPhone,organic,01.05.2019 4:46,01.05.2019 4:47
2,2,"5,90706E+11",United States,Mac,organic,01.05.2019 14:09,01.05.2019 15:32
3,3,"3,26434E+11",United States,Android,TipTop,01.05.2019 0:29,01.05.2019 0:54
4,4,"3,49774E+11",United States,Mac,organic,01.05.2019 3:33,01.05.2019 3:57
...,...,...,...,...,...,...,...
948,952,"5,55066E+11",United States,iPhone,TipTop,04.05.2019 23:32,04.05.2019 23:38
949,953,"7,71716E+11",United States,Android,TipTop,04.05.2019 19:32,04.05.2019 19:48
950,954,74352279110,United States,iPhone,TipTop,04.05.2019 0:13,04.05.2019 0:26
951,955,"6,08683E+11",United States,Android,FaceBoom,04.05.2019 3:33,04.05.2019 3:46
952,956,"8,75326E+11",United States,Mac,organic,04.05.2019 3:01,04.05.2019 3:15

/n
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          953 non-null    int64
 1   User_Id        953 non-null    object
 2   Region         953 non-null    object
 3   Device         953 non-null    object
 4   Channel        953 non-null    object
 5   Session_Start  953 non-null    object
 6   Session_End    953 non-null    object
dtypes: int64(1), object(6)
memory usage: 52.2+ KB

In [44]:
# Преобразование Session_Start и Session_End в datetime
# Удалить строки с некорректными датами
df = df[df['Session_Start'] != "0"]
df = df[df['Session_End'] != "0"]
df['Session_Start'] = df['Session_Start'].astype(str)
df['Session_End'] = df['Session_End'].astype(str)

df['Session_Start'] = df['Session_Start'].replace('0', pd.NaT)
df['Session_End'] = df['Session_End'].replace('0', pd.NaT)

df['Session_Start'] = pd.to_datetime(df['Session_Start'], format='%d.%m.%Y %H:%M', errors='coerce')
df['Session_End'] = pd.to_datetime(df['Session_End'], format='%d.%m.%Y %H:%M', errors='coerce')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          953 non-null    int64
 1   User_Id        953 non-null    int64
 2   Region         953 non-null    object
 3   Device         953 non-null    object
 4   Channel        953 non-null    object
 5   Session_Start  952 non-null    datetime64[ns]
 6   Session_End    952 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 52.2+ KB

---

**Обратите внимание, что во всех вариантах необходимо сделать приведение типов. Будьте готовы на защите аргументировать проверку типов (почему выполнены те или иные преобразования).**


 ---

### 6. Группировка данных

#### Задание 1

*`Формулировка задания`*

In [46]:
result = df.groupby(['Region', 'Device']).size()
print(result)

Region         Device
United States  Android    185
               Mac        242
               PC         103
               iPhone     423
dtype: int64

**`Вывод: Результирующая таблица демонстрирует группировка была выполнена по двум столбцам «Region» и «Device», с подсчетом количества строк в каждой группе.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 2

*`Формулировка задания`*

In [49]:
result_df = (df.groupby(['Device', 'Channel'])
              .size()
              .reset_index(name='count')
              .sort_values('count', ascending=False))

print(result_df)

     Device       Channel  count
15   iPhone       organic    249
7       Mac       organic    172
3   Android       organic    115
14   iPhone        TipTop     79
11       PC       organic     72
12   iPhone      FaceBoom     65
4       Mac      FaceBoom     36
0   Android      FaceBoom     33
13   iPhone  MediaTornado     30
2   Android        TipTop     26
6       Mac        TipTop     24
8        PC      FaceBoom     15
10       PC        TipTop     14
1   Android  MediaTornado     11
5       Mac  MediaTornado     10
9        PC  MediaTornado      2

**`Выводы: В индексированной сводной таблице указано какие источники используют владельцы каких гаджетов, может быть использовано в маркетинге.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 3

*`Формулировка задания`*

In [ ]:
pivot_table = (df.pivot_table(
    index='Channel', 
    columns='Device', 
    values='User_Id', 
    aggfunc='count', 
    fill_value=0
)
.sum(axis=1)  # Суммируем по всем устройствам для каждого канала
.sort_values(ascending=False)  # Сортируем по убыванию
.reset_index(name='count'))  # Преобразуем в DataFrame

print(pivot_table)

**`Выводы: В данной сводной таблице отображены охваты каждого канала, что может быть необходимо для оценки медийности канала.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

#### Задание 4

*`Формулировка задания`*

In [51]:
pivot_result = (df.pivot_table(
    index='Device',          # Строки - устройства
    columns='Channel',       # Столбцы - каналы
    values='User_Id',        # Значения - пользователи
    aggfunc='count',         # Функция агрегации - подсчет
    fill_value=0             # Заполнение пропусков нулями
)
.sort_index(ascending=True)  # Сортировка устройств по возрастанию
)

print(pivot_result)

Channel  FaceBoom  MediaTornado  TipTop  organic
Device
Android        33            11      26      115
Mac            36            10      24      172
PC             15             2      14       72
iPhone         65            30      79      249

**`Выводы: Данная сводная таблица указывает количество пользователей с разных устройств на одном канале, необходимо для выстраивания таргетированной рекламы.`**

---

**Обратите внимание, что на защите вы должны ориентироваться в синтаксисе. При необходимости нужно быть готовым изменить код по просьбе преподавателя. Например, вместо среднего значения подсчитать медиану и т.д.**


 ---

### Вывод


В ходе выполнения работы освоены навыки работы в Jupyter notebook, а также редактирование Markdown-файлов. Изучена работа с библиотекой pandas, которая позволяет обрабатывать, анализировать и организовывать файлы (например .csv). Исследованы: оценка данных, группировка таблиц и организация сводных таблиц в Python.

### Дополнительное задание

**`Подробная формулировка задания`**

In [ ]:
# код выполнения задания

***`Подробный вывод по заданию, описание полученных результатов`***